/*post.html*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #999;
}

.nav-bar {
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
    background-color: #87CEEB;
    font-size: 22px;
    margin-bottom: 20px;
}

.nav-bar .logo {
    flex: 0 0 auto; 
    font-weight: 150;
}

.nav-bar input {
    font-size: 17px;
    margin: 0 20px; 
    border-radius: 15px;
    padding: 10px;
    border-color: #ffffff;
    padding-right: 100px;
    margin-right: 100px;
    outline: none;
}

.nav-bar a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Set link color */
    padding: 5px;
    font-weight: 550;
    transition: font-size 0.3s;
}
.nav-bar a:hover{
    font-size: 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
    width: 300px;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-search{
    font-size: 17px;
    margin: 0 20px; 
    border-radius: 15px;
    padding: 13px;
    border-color: #ffffff;
    padding-right: 530px;
    outline: none; 
    margin-bottom: 20px;
}
.create-post-button {
    margin-left: 13px;
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    padding-left: 20px;
    padding-right:20px;
    background-color: #fff;
    border-radius: 40%;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color:#999
}
main {
    padding: 20px;
}

.posts {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 300px;
}

.post {
    background-color: #f2f2f2;
    padding: 30px;
    padding-left: 50px;
    margin: 45px;
    border-radius: 30px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    width: 100%; /* Ensure posts take full width of container */
    max-width: 800px; /* Optional: Set a max width for better readability */
}

.post h2 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 20px;
}

.post p {
    margin: 5px 0 0 0;
    font-size: 14px;
}


#postDetailContainer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 80px;
    padding-left: 10px;
    padding-right:1px;
    padding: 50px;
    background-color: #fff;
    border-radius: 45px;
}
#postDetailContainer h2{
    font-size: 35px;
    margin-bottom: 20px;
}
#postDetailContainer p{
    font-size: 20px;
}
#postDetailContainer h5{
    font-size: 15px;
    margin-bottom: -20px;
    font-weight: normal;
    margin-top: -8px;
    margin-left: 10px;
}
.post-icons {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}
.post-icons button{
    padding: 10px;
    font-size: 32px;
    color: transparent;
    -webkit-text-stroke: 1px black; /* Apply outline */
    border: none;
    background-color: transparent;
}
.post-icons button:hover {
    color: black;
    -webkit-text-stroke: 1px black; /* Keep outline when clicked */
}
.post-icons button.clicked {
    color: black;
    -webkit-text-stroke: 1px black; /* Keep outline when clicked */
}