body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction:column;
    background-color: #f0f0f0;
}

.login-container,.register-container{
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.form-group {
    margin-bottom: 30px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 1.2em;
    box-sizing: border-box;
}

#btn-submit {
    margin-top:30px;
    padding: 12px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em; /* Larger font size for better readability */
    width: 100%; /* Make button full width */
}

#btn-submit:hover {
    background-color: #0056b3;
}

#message {
    color: red;
    margin-top: 10px;
}

#sign-up {
    font-size: small;
}

